@import 'fonts.css';
body{
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
/* header start */
.nav{
    font-family: 'Natosans';
    padding: 30px;
    position: absolute;
    z-index: 99;
    background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
    width: 100%;
    left: 0;
    font-size: 26px;
}
.nav-item{
    padding: 0 10px;
}
.user__size{
    color: #fff !important;
    font-family: 'Roboto';
}
.nav-link:hover{
    color: #85CCDC !important;
}
.navbar-toggler{
    color: #fff !important;
    border-color: #fff !important;
}
.navbar-toggler:focus{
    text-decoration: none;
    box-shadow: none;
}
.header__content{
    position: relative;
}
.header__logo{
    position: absolute;
    content: '';
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 880px;
    width: 70%;
}
.header__bg{
    width: 100%;
    margin-top: 50px;
}
.header__content::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background: linear-gradient(0deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
    z-index: 99;
}
/* header start */
/* section1 start */
.section1, .section2{
    background: #0E0E0E;
    padding-top: 100px;
}
.section1__title{
    padding-bottom: 100px;
}
.section1__block{
    padding-bottom: 100px;
}
.section1__content{
    position: relative;
}
.section1__content_bg{
    width: 100%;
}
.section1__content_h2{
    font-size: 52px;
    font-style: italic;
    font-weight: 300;
    color: #85CCDC;
    position: absolute;
    content: '';
}
.section1__box{
    position: absolute;
    content: '';

}
.h2-1{
    top: 37%;
    right: 33%;
}
.h2-2{
    top: 47%;
    right: 17%;
}
.section1__box{
    position: absolute;
    content: '';
    top: 60%;
    left: 50%;
}
.section1__box_link{
    color: #fff;
}
.section1__box_link:hover{
    color: #fff;
}

/* section1 end */
/* section2 start */
/* .section2__box{
    max-width: 350px;
    width: 100%;
} */
.section2__grid{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    'h1 h2 h3'
    'h4 h5 h6';
    column-gap: 30px;
    padding-bottom: 100px;
}
.h1{
    grid-area: h1;
}
.h2{
    grid-area: h2;
}
.h3{
    grid-area: h3;
}
.h4{
    grid-area: h4;
}
.h5{
    grid-area: h5;
}
.h6{
    grid-area: h6;
}
.section2__box_content{
    position: relative;
    background: rgba(14, 14, 14, 0.8);
  
}
.section2__box_content:hover .section2__box_link{
    opacity: 1;
}
.section2__box_content:hover .section2__content_bg{
    opacity: 1;
}
.section2{
    padding-bottom: 100px;
}

.section2__box_link{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 5px 30px;
    background: #000;
    opacity: 0;
    transition: .5s;
}
.section2__content_bg{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: rgba(14, 14, 14, 0.8);
    opacity: 0;
    transition: .5s;
}
.section2__box_number{
    font-size: 96px;
    color: #600E09;
    font-weight: 700;
    margin-bottom: -50px;
}

.section2__glavnoe_img{
    max-width: 775px;
    width: 100%;
}
.section2__glavnoe_h2{
    font-size: 52px;
    font-style: italic;
    font-weight: 300;
    color: #85CCDC;
}
.section2__p{
    padding-top: 10px;
}



/* section2 end */
footer{
    background: #0E0E0E;
    padding:  5px 0;
}