@import 'fonts.css';
body{
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
/* header start */
.nav{
    font-family: 'Natosans';
    padding: 30px;
    position: absolute;
    z-index: 99;
    background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
    width: 100%;
    left: 0;
    font-size: 26px;
}
.nav-item{
    padding: 0 10px;
}
.user__size{
    color: #fff !important;
    font-family: 'Roboto';
}
.nav-link:hover{
    color: #85CCDC !important;
}
.navbar-toggler{
    color: #fff !important;
    border-color: #fff !important;
}
.navbar-toggler:focus{
    text-decoration: none;
    box-shadow: none;
}
.header__content{
    position: relative;
    /* padding-bottom: 100px; */
}
.header__container{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header__logo{
    position: absolute;
    content: '';
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 880px;
    width: 70%;
}
.header__bg{
    width: 100%;
    margin-top: 50px;
}
.header__desc{
    background: #000;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.header__h2{
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 0;
}
.header__h3{
    font-size: 36px;
    font-weight: 700;
}
.header__desc_p{
    padding: 10px 0;
}
/* header end */
/* section start */
.section1{
    background: #0E0E0E;
    padding-top: 100px;
}
.section1__title{
    font-size: 36px;
    padding-bottom: 100px;
}
.section2__grid{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    'h1 h2 h3'
    'h4 h5 h6'
    'h7 h8 h9';
    column-gap: 30px;
    padding-bottom: 100px;
}
.h1{
    grid-area: h1;
}
.h2{
    grid-area: h2;
}
.h3{
    grid-area: h3;
}
.h4{
    grid-area: h4;
}
.h5{
    grid-area: h5;
}
.h6{
    grid-area: h6;
}
.h7{
    grid-area: h7;
}
.h8{
    grid-area: h8;
}
.h9{
    grid-area: h9;
}
.section2__box_content{
    position: relative;
    background: rgba(14, 14, 14, 0.8);
  
}
.section2__box_content:hover .section2__box_link{
    opacity: 1;
}
.section2__box_content:hover .section2__content_bg{
    opacity: 1;
}
.section2{
    padding-bottom: 100px;
}

.section2__box_link{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 5px 30px;
    background: #000;
    opacity: 0;
    transition: .5s;
}
.section2__content_bg{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: rgba(14, 14, 14, 0.8);
    opacity: 0;
    transition: .5s;
}
.section2__box_number{
    font-size: 96px;
    color: #600E09;
    font-weight: 700;
    margin-bottom: -50px;
}






/* section end */